/* body { background-color:#333; margin:0 auto; background-image:url('images/interface/bgnoise.png');} */

.clear{clear:both;}

#previewWindow { margin-right: 5px;}

.thumbox{padding: 1px 0 0 0; }
#container { /* width:800px; height:498px; */ 
			margin:0 auto; 
			background-image:url('wfh/images/interface/back_noise.png'); 
			background-repeat:no-repeat; 
			background-color:#111; 
			margin-top:10px;
			}

#container .mainframe { width: 640px; height:450px; float:left}


#container .thumbnails { float:right; width:293px; height:498px;  background-repeat:no-repeat;  background-image:url('wfh/images/interface/total_grid.png'); background-position:9px 70px; }

.thumbnailimage { float:left; padding:7px;}


/* This is the display for the border image to display correctly*/
.large_thumb	{float:left; position: relative; width:80px; height:65px; padding:0px 10px 0px 0;}




img.large_thumb_image	{position:absolute; left:5px; top:4px;}



/* This is the white border around the thumbnail */
.large_thumb_border	{width:100%;  height:100%;  background:url('wfh/images/interface/thumb_border.png'); position:absolute; background-repeat:no-repeat; }

.large_thumb_shine	{width:80px; height:60px; background:url('wfh/images/interface/shine.png'); position:absolute; background-position:-150px 0; left:5px; top:4px; background-repeat:no-repeat;}

.thumb_container { width:80px; height:80px; background-image:url('wfh/images/interface/thumb_holder.png'); background-repeat:no-repeat; }




#loader { width: 640px; height:480px;
	background-image: url('wfh/images/interface/loader.gif');
	background-repeat:no-repeat;
	position: absolute;
	background-position: center center;
}


#largephoto { 
	width: 640px; 
	height: 480px; 
	background-color:#333333; 
	margin-top:0; 
	margin-left:5px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-left: 1px solid #fff; 
	border-right: 1px solid #fff; 
	border-bottom: 1px solid #fff; 
	background-repeat:no-repeat;
	}

#largetrans { width: 640px; height:480px; background-image:url('wfh/images/interface/main_bg_trans2.png'); -moz-border-radius: 10px; -webkit-border-radius: 10px; background-repeat:no-repeat;}


.large_image { display:none}
#containertitle { position:absolute; margin-top:35px; margin-left:40px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-shadow: 0px 1px 2px #fff;}

/* Controls The Black Border Across The Large Photo */
#largecaption {
	text-align:center;
	height:100px;
	width:100%;
	background-color:#111;
	position: absolute;
	width: 640px;
	margin-top:379px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	display:none;
	color:#fff;
	font-size:30px;
	font-family:Arial;
	letter-spacing:-1px;
	font-weight:bold;
	margin-bottom: 100px;
}

#largecaption .captionContent { padding:5px;}

/* This Makes The Wiping Effect Across The Large Main Photo */
#largecaption .captionShine { padding-top: 5px; background:url('wfh/images/interface/bigshine.png'); position:absolute;  width: 640px; height: 100px; background-position:-150px 0;background-repeat:no-repeat;}


#scrollUp {
	width: 300px;
	height: 18px;
	display: block;
	background-image: url(wfh/images/up-arrow.png);
	margin-left: 652px;
	border: 2px solid #666;
	background-color: #999;
	border-radius: 4px;
}

#scrollUp a {
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
}

.scrollUp a:hover {
	background-image: url(wfh/images/up-arrowA.png);
	width: 300px;
	height: 18px;
	display: block;
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
}

.scrollDown a:hover {
	width: 300px;
	height: 18px;
	display: block;
	background:url(wfh/images/down-arrow.png) no-repeat top;			
	background-repeat: no-repeat;
	background-position: top;
	position: relative;

}

#scrollDown {
	width: 300px;
	height: 18px;
	display: block;
	background:url(wfh/images/down-arrow.png) no-repeat top;			
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
	margin-left: 652px;
	border-radius: 4px;
	border: 2px solid #666;
	background-color: #999;


}

#thumb-container {width:300px; overflow: hidden; height:400px;} 

#thumb-container2 {
	width:300px; 
	height: inherit;
	overflow: auto; 	
	border-radius: 10px;
	border: 2px solid #666;
	background-color: #999;

} 


#contents {
	overflow: hidden;
	height: 370px;
	display: block;
	width: auto;
}

  body {
    margin: 0;
  }


